<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>daycation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAB344A41CEFBD9F006CC849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB344B81CEFBD9F006CC849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB344C31CEFBD9F006CC849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
